body {
    background-color: green;
    margin: 0px;
}

#head {
    width: 100vw;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 15%;
}

#title {
    font-size: 64px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}
#tableSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 85%;
    gap: 16px;
}

#scoreTable {
    border: 3px solid gray;
}

th{
    border: 0.5px solid gray;
}

#gameSide{
    display: flex;
    flex-direction: row;
}

#body{
    display: flex;
    flex-direction: row;
    height: 85%;
}