body{
    background-color: green;
}

#head{
    width: 100vw;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#title{
    font-size: 24px;
}